/* App.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #414141, #020202);
  margin: 0;
}

.app {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  min-height: 90vh;
  max-width: 400px;
  margin: 30px 10px;
}

.container-title h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.item-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px;
  margin-bottom: 20px;
}

.each-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  gap: 5px;
}

.each-item.completed {
  background: rgba(0, 255, 0, 0.3);
}

.each-item .left,
.each-item .right {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  background: rgba(255, 255, 255, 0.2);
  height: 1rem;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  outline: none;
}

input::placeholder {
  color: #eee;
}

button {
  background: rgba(255, 255, 255, 0.2);
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.stop-button {
  background: #e8505b;
  margin-right: 1em;
}

.pause-button {
  background: #93a300;
}

.delete-button {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  border: none;
  background: none;
}

.start-button,
.add-button,
.continue-button {
  background-color: #05df22;
}

.add-item-section {
  display: grid;
  grid-template-columns: 45% 35% 15%;
  gap: 5px;
}

.add-item-activity input {
  width: 80%;
}

.add-item-time input {
  margin-left: 2px;
  width: 24%;
}

@media (min-width: 600px) {
  .add-item-section {
    flex-direction: row;
    align-items: baseline;
  }

  input {
    width: 45%;
  }
}
